@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: "Roboto";
	background-color: #dae1e5;
}
.abc {
	background-color: #3a5396;
	height: 83px;
	width: 101%;
	margin-top: -24px;
	margin-left: -8px;
}
.abc h1{
	color: white;
	margin-left: 185px;
	padding-top: 30px;
	font-size: 36px;
}
#wow
{
	color: #3a5396;
	margin-left: 177px;
	margin-top: 20px;
}
.n1{
	margin-top: -70px;
	margin-left: 780px;
	color: white;
	line-height: -20px;
	font-size: 13px;
}
.n2{
	margin-top: -38px;
	margin-left: 975px;
	color: white;
	font-size: 13px;
}
#wer
{
	color:#3a5396;
	margin-top: -21px;
	margin-left: 1165px;

}
#wer button:hover{
	color: #3a5396;
}
.forgot{
	margin-top: 7px;
	margin-left: 975px;
}
.forgot a{
	color: #82a1f2;
	font-size: 13px;
	text-decoration: none;
}
.forgot a:hover{
	text-decoration: underline;
}
.tol{
	margin-left: 165px;
	margin-top: 50px;
}
.tol h2{
	color: #0f2d47;
	margin-top: 20px;
}
.tol img{
	margin-top: -10px;
}
h3{
	position: relative;
	margin-top:-25px;
}
.half-portion{
	float: right;
	margin-right: 210px;
	margin-top: -365px;
}
input[placeholder]
{
	font-size: 17px;
	padding-left: 6px;
}
.name input
{
	margin-top: -150px;
	width:177px;
	height: 30px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
}
/*.mandatory{
	border-style: solid;
	border-radius: 5px;
	height: 35px;
	width: 150px;
	margin-left: -160px;
	margin-top: -50px;
	border-color: #dae1e5;
}*/
.mobile input
{
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 380px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
}

.pass1 input
{
	width: 380px;
	height: 30px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	margin-bottom: 10px;
}
.pass2 input
{
	height: 30px;
	width: 380px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
}
.sel1{
	margin-top: 5px;
	margin-right: -4px;
	width: 60px;
	height: 30px;
	display: inline-block;
}
.sel2{
	margin-top: 5px;
	margin-right: -4px;
	width: 80px;
	height: 30px;
	display: inline-block;
}
.sel3{
	margin-top: 5px;
	margin-right: -4px;
	width: 60px;
	height: 30px;
	display: inline-block;
}
.gender{
	margin-top: 12px;
}
.agreement{
	font-size: 12px;
	color: grey;
}
.agreement a{
	text-decoration: none;
	color: #82a1f2;
}
.agreement a:hover{
	text-decoration: underline;
}
.DOB a{
	color: #3973ac;
	display: inline-block;
	margin-left: 5px;
}
.Btn input[value]
{
	color: white;
	font-size: 46px;
}
.submit{
	border-radius: 5px;
	border-style: solid;
	border: 2px;
	height: 37px;
	width: 175px;
}
.celeb a{
	text-decoration: none;
}
.celeb a:hover{
	text-decoration: underline;
}
